@import "~bootstrap/scss/bootstrap";


 body{
         background-color: black;

        }
header{
    background-color: black;
}

.mycard{
    width: calc(100% / 6 - 10px);
}

.imgcard{
    border: 2px solid blue;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black; 
    color: white;
}

.mainbutton{
    background-color: #0282F9;
}
// .gatto-img {
//     height: 200px;
// }

// .gatto-bg {
//     height: 200px;
//     background-image: url('../img/gatto.webp');
//     background-size: contain;
// }
