@import "~bootstrap/scss/bootstrap";


header{
    background-color: white;
}

.inputsection{
    input[type=text] {
        width: 50%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #0282F9;
    }

    i{
        color: #0282F9;
    }
}

.img_jumbotron{
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position:10% 10%;
    // background-image: url("public/images/jumbotron.jpg");
}

.jumbotron_container{
    position: relative;
    bottom: -30px;

}

.tag{
    position: absolute;
}

body{
    background-color: black;

}

.img_logo{

    img{
        height: 50px;
        width: 50px;
    }
}

ul{
    list-style: none;
}

.mycard{
    width: calc(100% / 6 - 10px);
}

.imgcard{
    border: 2px solid blue;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black; 
    color: white;
}

.mainbutton{
    background-color: #0282F9;
    border: 2px solid orange;
}

// .gatto-img {
//     height: 200px;
// }

// .gatto-bg {
//     height: 200px;
//     background-image: url('../img/gatto.webp');
//     background-size: contain;
// }
