@import "~bootstrap/scss/bootstrap";
@import "resources/scss/partials/mixins.scss";



header{
    background-color: white;
}

.inputsection{
    input[type=text] {
        width: 50%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #0282F9;
    }

    i{
        color: #0282F9;
    }
}

.img_jumbotron{
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position:10% 10%;
    // background-image: url("public/images/jumbotron.jpg");
}

.jumbotron_container{
    position: relative;
    bottom: -30px;

}

.tag{
    position: absolute;
}

body{
    background-color: black;

}

.img_logo{

    img{
        height: 50px;
        width: 50px;
    }
}

ul{
    list-style: none;
}

.mycard{
    width: calc(100% / 6 - 10px);
}

.imgcard{
    border: 2px solid blue;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black; 
    color: white;
}

.mainbutton{
    background-color: #0282F9;
}

.under_main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

.asset_icon_main{
    background-color: #0282F9 ;
    padding: 40px;
}

.asset_icon_main_content{
    @include my-display-flex-sa;
}

.assetsitems{
    @include my-display-flex-center;
    margin: 20px;
    color: white;
}

.assets_container_img{
    // border: 2px solid yellow;
    margin-bottom: 20px;
    > img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}
